
- var d = new Date()
- var n = d.getTime()

-
  var nav_items = [
    {
      text: 'Home',
      url: 'index.html',
    },
    {
      text: 'Repertoire',
      url: 'repertoire.html',
    },
    {
      text: 'Konzerte',
      url: 'konzerte.html',
    },
    {
      text: 'Konzertarchiv',
      url: 'konzertarchiv.html',
    },
    {
      text: 'Freunde',
      url: 'freunde.html',
    },
    {
      text: 'Kontakte',
      url: 'kontakte.html',
    },
  ]

  var test = [
    {
      title: 'Johann Christian Bach',
      items: [
        '6 Sonaten Op.2',
      ],
    },

    {
      deep: true,
      title: 'Eine Reise in die Seele Russlands',
      items: [
        {title: 'testtitle', text: 'testtext'},
        {title: 'testtitle2', text: 'testtext2'}],
        test: [
          'Trio "Pathètique" in d-moll',
          'Sergei Rachmaninoff',
          'Trio élégiaque Nr. 2 d-moll Op 8',
          'Alexander Aljabiew',
          'Trio in a-moll',
          'Alexander Gretschaninoff',
          'Trio Nr. 2 Op. 128',
          'Vissarion Shebalin',
          'Trio Op. 39',
        ],
        
    },
  ]

  var repertoires = [
    {
      title: 'Johann Christian Bach',
      items: [
        '6 Sonaten Op.2',
      ],
    },
    {
      title: 'Ignaz Josef Pleyel ',
      items: [
        'Klaviertrio C Dur',
      ],
    },
    {
      title: 'W.A. Mozart',
      items: [
        'Klaviertrio in G Dur KV 564',
      ],
    },
    {
      title: 'Josef Haydn',
      items: [
        'Klaviertrio in G Dur Hob XV:25',
      ],
    },
    {
      deep: true,
      title: 'Eine Reise in die Seele Russlands',
      items: [
        {title: 'Michael Glinka', text: 'Trio "Pathètique" in d-moll'},
        {title: 'Sergei Rachmaninoff', text: 'Trio élégiaque Nr. 2 d-moll Op 8'},
        {title: 'Alexander Aljabiew', text: 'Trio in a-moll'},
        {title: 'Alexander Gretschaninoff', text: 'Trio Nr. 2 Op. 128'},
        {title: 'Vissarion Shebalin', text: 'Trio Op. 39'},
      ],
    },
    {
      deep: true,
      title: 'Frauen als Koponisten - "Archiv des Herzen"',
      items: [
        {title: 'Clara Schumann', text: 'Trio in g-moll Op. 17'},
        {title: 'Fanny Mendelssohn-Hensel', text: 'Trio in d-moll Op. 11 '},
        {title: 'Lera Auerbach', text: 'Trio Nr. 1'},
      ],
    },
    {
      title: ' Claude Debussy',
      items: [
        'Klaviertrio in G Dur',
      ],
    },
  ]