if title 
  title= title + ' - Hello World'
else
  title Hello World

meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

//- META DATA
meta(name='keywords' content='Hello World')
meta(name='description' content='')
meta(name='author' content='Florian Weigelt')

//- OG DATA
meta(property='og:title' content='')
meta(property='og:description' content='')
meta(property='og:url' content='')
meta(property='og:image' content='')

//- STYLESHEETS
link(rel="stylesheet" href="css/main.css?v="+ n)

//- FONTS
<link href="https://fonts.googleapis.com/css?family=Cormorant:300i,400,400i,500i,600i|Lato:300,400,700" rel="stylesheet">
