
if title 
  title= title + ' - FW'
else
  title Florian Weigelt
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
link(rel="stylesheet" href="css/main.css?v="+ n +"")

meta(name='keywords' content='florian, weigelt, webdesign, web design, homepage, design, media')
meta(name='description' content='What will your website look like?')
meta(name='author' content='Florian Weigelt')

meta(property='og:title' content='Florian Weigelt')
meta(property='og:description' content='What will your website look like?')
meta(property='og:url' content='https://florian-weigelt.com')
meta(property='og:image' content='https://florian-weigelt.com/img/og-image.png')

<link href="https://fonts.googleapis.com/css?family=Cormorant:300i,400,400i,500i,600i|Lato:300,400,700" rel="stylesheet">
