// MEASUREMENTS
$space-xxsmall:   .15rem
$space-xsmall:    .25rem
$space-small:     .5rem
$space-medium:    1rem
$space-xmedium:   1.3rem
$space-large:     1.5rem
$space-xlarge:    2rem
$space-xxlarge:   5rem
$space-xxxlarge:  7rem

$border-radius: 2px
$border-width: 2px

// FONTS
$font-primary: 'Lato', sans-serif
$font-secondary: 'Cormorant', serif

// COLORS
$c-dark: #222
$c-dark2: #555
$c-lighter: #EFEFEF
$c-light: #E7E7E7
$c-transparent: rgba(255,255,255,.5)

$c-primary: #CE0000
$c-secondary: #193038


// BREAKPOINTS
$breakpoint-md: 768px

// WIDTHS
$max-width: 900px

@mixin media($breakpoint)
  @media screen and (max-width: $breakpoint)
    @content

/* ----------------------------------------------- */

*
  margin: 0 
  padding: 0
  box-sizing: border-box
  color: inherit
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html

body
  color: $c-dark
  font-size: 14px
  font-family: $font-primary

h1
  font-size: 5em
  text-align: center
  margin: $space-xlarge
  @include media($breakpoint-md)
    font-size: 3em
    margin: $space-xlarge $space-medium