
$breakpoint-1: 769px
$breakpoint-2: 600px
$breakpoint-3: 400px

$space-xxsmall:   .15rem
$space-xsmall:    .25rem
$space-small:     .5rem
$space-medium:    1rem
$space-xmedium:   1.3rem
$space-large:     1.5rem
$space-xlarge:    2rem
$space-xxlarge:   5rem
$space-xxxlarge:  7rem

$border-radius: 2px
$border-width: 2px

$font-sans: 'Lato', sans-serif
$font-serif: 'Cormorant', serif

$c-dark: #222
$c-dark2: #555
$c-lighter: #EFEFEF
$c-light: #E7E7E7
$c-transparent: rgba(255,255,255,.5)

$c-primary: #CE0000
$c-secondary: #193038

$transition-slow: 0

$max-width: 900px

@mixin ls
  letter-spacing: $space-xxsmall


*
  margin: 0 
  padding: 0
  box-sizing: border-box
  color: inherit
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  &:focus
    outline: none

@mixin media($breakpoint)
  @media screen and (max-width: $breakpoint)
    @content

html

body
  color: $c-secondary
  font-size: 14px
  font-family: $font-sans
  font-weight: 300
  background: $c-lighter
  background: $c-lighter url(../img/assets/noise.png) repeat

::-webkit-scrollbar
	height: 6px
	width: 4px
	background: transparent
::-webkit-scrollbar-thumb
	background: $c-secondary
	height: 6px
	width: 4px
::-webkit-scrollbar-track
	height: 2px
	width: 4px
	padding: 1px 0
	border-top: 1px solid $c-lighter
	border-bottom: 1px solid $c-lighter
	background: $c-lighter
::-webkit-scrollbar-button
	background: transparent
	display: none
