doctype html
html
  include ../_includes/data

  block vars
  
  head
    include ../_includes/head.pug
  
  body
    
    script(type="text/javascript" src="./js/jquery.js")
    include ../_includes/nav.pug
    block content

    include ../_includes/footer.pug
    script(type="text/javascript" src="./js/main.js?v="+ n +"")