doctype html
html
  include ../_includes/data

  block settings
  
  head
    include ../_includes/head
  
  body

    unless noHeader
      include ../_includes/header.pug
    #content
      block content

      include ../_includes/footer.pug
      script(type="text/javascript" src="./js/main.js?v="+ n)