extends _layouts/default

block vars
  - var title = '404'
  - var site = '404'

block content
  #container

    .site.data-grid
      .data-grid__main
        .desc
          h1 404
          h2 Florian Weigelt
      .data-grid__side
        .content-img.contain
          img(src="./img/mountains.jpg")